body{
	margin:0;
	padding:0;
	font-family:Arial,sans-serif;
	 background-image:url("Hotel.png");
	 background-size: cover;
	 background-position: center;
	 background-repeat: no repeat;
}
body{
    margin:0;
    font-family: Arial, sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between; /* logo left, menu right */
    align-items:center;
    background:black;
    padding:15px 40px;
}

/* Logo */
.logo{
    color:white;
    font-size:22px;
    font-weight:bold;
}

/* Menu */
.menu{
    list-style:none;
    display:flex;        /* one line */
    gap:25px;
    margin:0;
    padding:0;
}

.menu li a{
    color:white;
    text-decoration:none;
    font-size:16px;
}

.menu li a:hover{
    color:blue;
}